**/.DS_Store
*/.DS_Store
*.keras
*checkpoint.py
*checkpoint.ipynb
/training/trained_models
*.npy
*.npz
/data/decagon_data
/data/ADR_severity_data
*.pyc
/data/UNII_Data
analysis/.DS_Store
data/.DS_Store
/data/NCATS_exports
