requests==2.32.3
networkx==2.8.8
pandas==2.2.2
dgl==2.2.0
dgllife==0.3.2
rdkit==2023.9.6
torch==2.1.0
torchaudio==2.1.0
torchdata==0.7.1
torchvision==0.16.0
PyYAML==6.0.1
pydantic==2.7.1
numpy==1.26.4
keras==2.15.0
keras-tuner
tensorflow==2.15.0
jupyter==1.0.0